.card {
  max-width: 430px;
  color: #333;
  text-decoration: none;
}

.card img {
  max-width: 100%;
  min-height: 325px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .card {
    margin: 0 auto;
    max-width: unset;
  }
}
