.navbar {
  background-color: #b5b5b5;
  padding: 16px;
  position: sticky;
  top: 0;
}

.navbar a {
  color: #000;
  text-decoration: none;
}

.navbar h1 {
  background: url(https://s3.eu-central-1.amazonaws.com/napptilus/level-test/imgs/logo-umpa-loompa.png)
    no-repeat center left;
  background-size: 20px;
  padding-left: 40px;
}
