main {
  padding: 24px;
}

.filters {
  display: flex;
  justify-content: flex-end;
}

.filters .search-filter {
  background: url(https://s3.eu-central-1.amazonaws.com/napptilus/level-test/imgs/ic_search.png)
    no-repeat center right 10px;
  padding: 8px 40px 8px 8px;
  background-size: 20px;
  border: 1px solid #828282;
  border-radius: 6px;
}

.filters .search-filter input {
  border: none;
  height: 100%;
  border-right: 1px solid #828282;
}

.filters .search-filter input:focus-visible {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 16px;
}
