.details-container {
  display: flex;
  margin-top: 40px;
  gap: 32px;
}

.details-container img {
  width: 50%;
}

.details-container .details {
  width: 50%;
}

.details-container .details .description {
  margin-top: 40px;
}

@media (max-width: 768px) {
  .details-container {
    flex-direction: column;
  }

  .details-container img,
  .details-container .details {
    width: 100%;
  }
}
